@model SwissSystem.Models.Events

@{
    ViewData["Title"] = "EventById";
}

<style>
    #tbTeam td, #tbTeam th {
        border: none;
        padding: 10px 0; /* Add vertical padding */
    }
    #tbvsteam td, #tbvsteam th {
        border: none;
        padding: 10px 0; /* Add vertical padding */
    }
    #tbRound1 td, #tbRound1 th {
        border: none;
        padding: 10px 0; /* Add vertical padding */
    }
</style>

<div>
    <h2>@Html.DisplayFor(model => model.event_name)</h2>
    <div style=" display:flex ">
        <input class="form-control" style="width:110px;margin-right:5px;" type="text" value="@Html.DisplayFor(model => model.event_date)" />
        <samp class="bi bi-at form-control" style="width:20px;padding-right:25px;"></samp>
        <input class="form-control" style="width:350px;margin-right:5px;" type="text" value=" @Html.DisplayFor(model => model.event_location)" />
        <input class="form-control" style="width:170px;margin-right:5px;text-align:center;" type="text" value="@Html.DisplayFor(model => model.event_type)" />
        <input class="form-control" style="width:170px;margin-right:5px;text-align:center;" type="text" value="@Html.DisplayFor(model => model.event_round)" />
    </div>
    @* padding: 10px; margin: 10px" *@
    <br>
    <div style="width:90%;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="Random-tab" data-bs-toggle="tab" data-bs-target="#Random"
                        type="button" role="tab" aria-controls="Random" aria-selected="true">
                    Random
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link " id="Round1-tab" data-bs-toggle="tab" data-bs-target="#Match1"
                        type="button" role="tab" aria-controls="Round1" aria-selected="true">
                    ลงเล่นครั้งที่ 1
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="employment-tab" data-bs-toggle="tab" data-bs-target="#Match2"
                        type="button" role="tab" aria-controls="employment" aria-selected="false">
                    ลงเล่นครั้งที่ 2
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="employment-tab" data-bs-toggle="tab" data-bs-target="#Match3"
                        type="button" role="tab" aria-controls="employment" aria-selected="false">
                    ลงเล่นครั้งที่ 3
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="employment-tab" data-bs-toggle="tab" data-bs-target="#Match4"
                        type="button" role="tab" aria-controls="employment" aria-selected="false">
                    ลงเล่นครั้งที่ 4
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="employment-tab" data-bs-toggle="tab" data-bs-target="#Match5"
                        type="button" role="tab" aria-controls="employment" aria-selected="false">
                    ลงเล่นครั้งที่ 5
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Random" role="tabpanel" aria-labelledby="Random-tab">
             <br />
                @* <input type="file"/><button  ></button> *@
                
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    @*  <span aria-hidden="true">&times;</span> *@
                                </button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control " accept="application/vnd.ms-excel , application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" type="file" id="bfile" runat="server" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="closemodal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" id="SaveImport" class="btn btn-primary"  runat="server">Save changes</button>
                            </div>
                        </div>
                    </div>

                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> Import</button>
                
                @* <div class="card card-body" style="height:300px"> *@
                    <div class="row">
                        <div class="col-3">
                          @*   width:1080px; *@
                            @* <textarea class="text-info form-control" id="txtLog" style="height:600px;width:100%"></textarea> *@
                        
                            <table class="table" id="tbTeam">
                                <thead>
                                    <tr>
                                        <th scope="col" style="text-align:center; width:50px;">ลำดับ</th>
                                        <th scope="col" style="text-align:center;">ทีม</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-2">
                            <div style="margin-top: 50px;">
                                <div>
                                    <button type="button" id="BtnRandom" class="btn btn-secondary w-100 " > Ramdom </button>
                                </div>
                                <br />
                                <div>
                                    <button type="button" id="btnConfirm" class="btn btn-secondary w-100 " > Confirm </button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-7">
                            <table class="table" id="tbvsteam">
                                <thead>
                                    <tr>
                                        <th scope="col" style="text-align:center;">ลำดับ</th>
                                        <th scope="col" style="text-align:center;">ทีม 1</th>
                                        <th scope="col" style="text-align:center;"></th>
                                        <th scope="col" style="text-align:center;">ทีม 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>    
                            
                        </div>
                    </div>
                @* </div> *@
            </div>
            <div class="tab-pane fade" id="Match1" role="tabpanel" aria-labelledby="Round1-tab">
                <br />
                <h3>การจัดลำดับ (Ranking)</h3>
                <hr />
                <div class="col-10">
                    <table class="table" id="tbRound1">
                        <thead>
                            <tr>
                                <th scope="col" style='text-align:center; width:50px;'>สนาม</th>
                                <th scope="col" style='text-align:center;'>ทีม1</th>
                                <th scope="col" style='text-align:center;'>คะแนน</th>
                                <th scope="col" style='text-align:center;'>ทีม2</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="col-2">

                </div>








            </div>
            <div class="tab-pane fade" id="Match2" role="tabpanel" aria-labelledby="employment-tab">
                <br />
                <h3>การจัดลำดับ (Ranking)</h3>
                <hr />
                ลงเล่นครั้งที่ 2
            </div>
            <div class="tab-pane fade" id="Match3" role="tabpanel" aria-labelledby="employment-tab">
                <br />
                <h3>การจัดลำดับ (Ranking)</h3>
                <hr />
                ลงเล่นครั้งที่ 3
            </div>
            <div class="tab-pane fade" id="Match4" role="tabpanel" aria-labelledby="employment-tab">
                <br />
                <h3>การจัดลำดับ (Ranking)</h3>
                <hr />
                ลงเล่นครั้งที่ 4
            </div>
            <div class="tab-pane fade" id="Match5" role="tabpanel" aria-labelledby="employment-tab">
                <br />
                <h3>การจัดลำดับ (Ranking)</h3>
                <hr />
                ลงเล่นครั้งที่ 5
            </div>
        </div>
    </div>
</div>
@* <div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    <script>
        $(document).ready(function () {

            $('#Round1-tab').click(function () {
                $.ajax({
                    url: '/Detail/GetTeamRound1',
                    type: 'POST',
                    data: { event_id: '@Model._id' },
                    success: function (data) {
                        $('#tbRound1 tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            var newRow = "<tr>";
                            newRow += "<td style='text-align:center;'><input type='text' style='width:100px; height:25px;'  /></td>";
                            newRow += "<td style='text-align:center;'> " + data[i].team1 + "</td>";
                            newRow += "<td style='text-align:center;'> <input type='text' style='width:25px; height:25px;' value='" + (data[i].score1 ?? "") + "'> : <input type='text' style='width:25px; height:25px;' value='" + (data[i].score2 ?? "") + "'></td>";
                            newRow += "<td style='text-align:center;'> " + data[i].team2 + "</td>";
                            newRow += "</tr>";
                            $('#tbRound1 tbody').append(newRow);
                        }
                    }
                });
            });

            $("#SaveImport").click(function () {
                var bfile = $("#bfile").get(0).files[0];

                var formData = new FormData();
                formData.append("bfile", bfile);
                formData.append("event_id", '@Model._id');
                $.ajax({
                    url: '/Home/AddTeam',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                         $('#tbTeam tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                             var newRow = "<tr>";
                            newRow += "<td style='text-align:center;'>" + (i + 1) + "</td>";
                            newRow += "<td> " + data[i].team_name + "</td>";
                            newRow += "</tr>";
                            $('#tbTeam tbody').append(newRow);
                        }                       
                        $('#closemodal').click();     
                    }
                });
            });

            $('#BtnRandom').click(function () {
                
                var teams = $('#tbTeam tbody tr').map(function() {
                    return $(this).find('td:eq(1)').text();
                }).get();
                
                $.ajax({
                    url: '/Detail/RamdomTeam',
                    type: 'POST',
                    data: { teams: teams },
                    success: function (data) {
                        $('#tbvsteam tbody').empty();
                        for (var i = 0; i < data.length; i++){
                            
                            var newRow = "<tr>";
                            newRow += "<td style='text-align:center;'>" + data[i].no + "</td>";
                            newRow += "<td style='text-align:center;'> " + data[i].team1 + "</td>";
                            newRow += "<td style='text-align:center;'>VS</td>";
                            newRow += "<td style='text-align:center;'>" + data[i].team2 + "</td>";
                            newRow += "</tr>";
                            $('#tbvsteam tbody').append(newRow);
                             
                        }
                    }
                });
            });

            $('#btnConfirm').click(function (){

                var teams = $('#tbvsteam tbody tr').map(function() {
                        return {
                            team1: $(this).find('td:eq(1)').text(),
                            team2: $(this).find('td:eq(3)').text()
                        };
                }).get();

                $.ajax({
                    url: '/Detail/ConfirmRandom',
                    type: 'POST',
                    data: { pairTeam: teams, event_id: '@Model._id'},
                    success: function (data) {
                        alert(data);
                        
                    }
                });
            });




        });
    </script>
}
